# This is a default CODEOWNERS file.
# Each line is a file pattern followed by one or more GitHub usernames or team names.
# The last matching pattern has the most precedence.

# Default owners for everything in the repo
*       @SHA888
#       @team-name

# Owners for specific paths
